asgiref
boto3
dj-database-url
django~=3.0.7
django-heroku==0.3.1
gunicorn
Jinja2
MarkupSafe
Pillow
psycopg2
python-dateutil==1.5
pytz
six
sqlparse
django-storages
whitenoise
djangorestframework~=3.11.0
setuptools~=41.1.0